* {
  font-family: arial;
}
h1 {
  padding: 0px;
  margin: 0px;
}

.leftPanel,
.rightPanel {
  width: 33%;
  margin: 0px;
  background: #CCC;
  float: left;
  min-height: 400px; //Delete
  padding: 40px;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
}

.rightPanel {
  width: 67%;
  background: #EEE;
}

input {
  margin: 10px 0px;
}
